.border {
    border: 1px solid black;
    padding: 1em 2em;
}
.modalImg {
    float: left; 
    padding: 5%;
    height: 200px;
}
.price {
    color: red;
    font-size: 2em;
    
}
.pad {
    padding: 2em;
}
.center {
    text-align: center;
}
.overflow {
    height: 100%;
    overflow-y: auto;
}
h4 {
    text-decoration: underline;
    padding-bottom: 0.5em;
}

#categoryList {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    display: block;
    width:15%;
}

.fakelink {
    color: blue;
}
.fakelink:hover {
    color: darkblue;
    text-decoration: underline;
}