
.modalBody {
    
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    z-index: 10;
    overflow-y: scroll;
    height: 100%;
}
.modalPosition {
    border: 5px solid black;
    
    position: relative;
    width: 100%;

    background: rgba(255, 255, 255, 0.95);
    color: black;
    
    border-radius: 25px;
    cursor: default;
}
.modalImg {
    float: left; 
    padding: 5%;
    width: 100%;
}
.price {
    color: red;
    font-size: 2em;
}
.center {
    text-align: center;
}
.overflow {
    height: 100%;
    overflow-y: auto;
}
h4 {
    text-decoration: underline;
    padding-bottom: 0.5em;
}

#categoryList {
    background-color: #fff;
    border-radius: .25rem;
    display: block;
    width:15%;
}

.fakelink {
    color: blue;
    font-size: x-small;
}
.fakelink:hover {
    color: darkblue;
    text-decoration: underline;
    cursor: pointer;
}
.closeButton {
    max-width: 40px;
}
.floatRight {
    float: right;
}
.reviewModalList {
    background: darkgreen; 
    color: white; 
    margin: 3em 0em; 
    padding: 1em; 
    border-radius: 25px;
}
.descriptionTxt {
    text-align: left;
}
.addButton {
    margin-bottom: 2em;
}
.alignLeft {
    text-align: left;
}
.modifyTable {
    width: 100%;
    margin-top: 1em;
    font-size: small;
}
.modifyTable thead {background: #CCC;}
.modifyTable thead tr th:first-child { text-align: right; padding-right: 0.5em;  }
.modifyTable tbody tr:nth-child(even) {background: #CCC}
.modifyTable tbody tr:nth-child(odd) {background: #FFF}
.modifyTable tbody tr:hover {background: lightblue;}
.modifyTable tbody tr td:first-child {font-weight: bold; text-align: right; padding-right: 0.5em;}