.modalPosition {
    position:absolute;
    background: rgba(0, 50, 0, 0.9);
    color: white;

    z-index: 10;
    border-radius: 25px;
    cursor: default;

    top: 10%;
    left:10%;
    right: 10%;
    min-height:10%;
}
.cartQty {
    background: rgba(250,0,0,0.8);
    padding: 0.1em 0.5em;
    border-radius: 100%;
    color: white;
    position: absolute;
    bottom: -30%;
    right: 0%;
    font-weight: bold;
}
.border {
    border: 0px solid black;
    padding: 1em 2em;
}
.modalImg {
    float: left; 
    padding: 5%;
    height: 200px;
}
.price {
    color: red;
    font-size: 2em;
    
}
.pad {
    padding: 2em;
}
.center {
    text-align: center;
}
.overflow {
    height: 100%;
    overflow-y: auto;
}
h4 {
    text-decoration: underline;
    padding-bottom: 0.5em;
}

#categoryList {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    display: block;
    width:15%;
}

.fakelink {
    color: blue;
}
.fakelink:hover {
    color: darkblue;
    text-decoration: underline;
}

.floatRight {
    float: right;
}
.reviewModalList {
    background: darkgreen; 
    color: white; 
    margin: 3em 0em; 
    padding: 1em; 
    border-radius: 25px;
}