.productRow:hover {
    background: lightpink;
    cursor: -webkit-grab;
}
.filterButton {
    margin: 0em 0.5em;
}
.customContainer {
    margin: 1em 0em;
    text-align: center; 
}

.productStock {
    text-align: right;
}
.productPrice {
    text-align: right;
    color: red;
    font-weight: bolder;
}
.productName {
    font-weight: 500;
}
.cartImg {
    height: 30px;
    margin-right: 1em;
}
.cartButton {
    margin-bottom: 1em;
}
.productImg {
    text-align: center;
    height: 50px;
}
.shoppingCartNavBar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom:10px;
    /* background-color: burlywood; */
   
}

.shoppingCartNavButton {
 min-width: 40px;
 min-height: 40px;
 border-radius: 50%;
 border: 1px solid black;
}

.productInfo {
    background-size: cover;
    background-image: url("../img/shoppingcart.png");
}

.userInfo {
    background-size: contain;
    background-image: url("../img/userInfo.png");
}

.deliveryInfo {
    background-size: cover;
    background-image: url("../img/deliveryIcon.png");
}

.paymentInfo {
        background-size: cover;
        background-image: url("../img/paymentInfo.png");
}

.summaryInfo {
    background-size: cover;
    background-image: url("../img/summaryInfo.png");
}

.shoppingCartNavButton:focus {
    outline: none;
}

.shoppingCartNavButton:active {
    transform: scale(1.1);
}

.shoppingCartNavButton:hover {
    filter: invert(0.2);
}

.connectionLine {
    width: inherit;
    height:2px;
    background-color: black;
    position: relative;
    margin-top: 20px;
}

